﻿@model EscuelaNet.Presentacion.Clientes.Web.Models.SolicitudesIndexModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-5">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@Model.Titulo</h3>
                <label class="text-success">@TempData["success"]</label>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>

                            <th style="width: 10px">#</th>
                            <th>Titulo</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                        @Html.HiddenFor(model => model.IdCliente)
                        @Html.HiddenFor(model => model.IdUnidad)
                        @foreach (var solicitud in Model.Solicitudes)
                        {
                            <tr>


                                <td>@Model.Solicitudes.IndexOf(solicitud)</td>
                                <td>@solicitud.Titulo</td>
                                <td>@solicitud.Descripcion</td>
                                <td>@solicitud.Estado</td>

                                <td>
                                    <a href="/Solicitudes/edit/?idCliente=@Model.IdCliente&idUnidad=@Model.IdUnidad&idSolic=@Model.Solicitudes.IndexOf(solicitud)" title="Editar" class="btn btn-toolbar">
                                        <label class="label bg-gray"><i class="fa fa-edit"></i> Editar</label>
                                    </a>
                                    <a href="/Solicitudes/delete/?idCliente=@Model.IdCliente&idUnidad=@Model.IdUnidad&idSolic=@Model.Solicitudes.IndexOf(solicitud)" title="Borrar" class="btn btn-toolbar">
                                        <label class="label bg-gray"><i class="fa fa-remove"></i> Borrar</label>
                                    </a>
                                </td>

                            </tr>
                        }


                        <tr>
                            <td colspan="6">
                                <a href="/solicitudes/new/?idCliente=@Model.IdCliente&idUnidad=@Model.IdUnidad" title="Nuevo" class="btn btn-toolbar">
                                    <label class="label bg-gray"><i class="fa fa-plus"></i> Nuevo</label>
                                </a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>


<div>
    @Html.ActionLink("Volver a Unidades", "../Unidades/Index/", new {id = Model.IdCliente })
</div>

@section Scripts{
    <script>
    </script>
}


