﻿@model EscuelaNet.Presentacion.Conocimientos.Web.Models.NuevaCategoriaModel

@{
    ViewBag.Title = "New";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Nueva Categoria</h3>
                    <label class="text-danger">@TempData["error"]</label>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using(Html.BeginForm("New","Categoria", null,
                    FormMethod.Post, new { role = "form", data_toggle = "validor", @id="myform" }))
                {
    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required ="required", data_error = "Debe ingresar un nombre" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger"})
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
            </div>
            <!-- /.box -->
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
<script>
    $(document).ready(function ()
    {
        $('myform').validator()
    })
</script>